.con1 img{
    width: 100%;
    height: 600px;
}

.insta_area{
    background: rgb(124,81,161);
}

/* .owl-stage div{
    width: 30%;
} */

.slide_container{
    height: 400px;
    text-align: center;
    overflow: hidden;
}

.slide_container li{
    width: 300px;
    height: 350px;
    display: inline-block;
    margin: 0 15px;
}

.slide_container img{
    width: inherit;
    height: inherit;
}

.product_slide{
    display: flex;
    justify-content: space-evenly;
}

.txt_box span{
    display: block;
}

.photo{
    margin-bottom: 30px;
}

.photo img{
    width: 280px;
}

.product_slide{
    margin-bottom: 30px;
}

.product_slide .txt_box{
    text-align: center;
}

.name{
    font-size: 1.1rem;
    font-weight: 700;
}

.date{
    font-size: 0.9rem;
}

.ori_price{
    text-decoration: line-through;
}

.ori_price, .fixed_price{
    font-size: 0.7rem;
}

.slide_con{
    display: none;
}

.control-buttons{
    margin-left: 20px;
    padding-left: 15px;
    border-left: 1px solid gainsboro;
}

.control-buttons button{
    border: none;
    background: transparent;
    /* background: url(../img/play.png); */
}

.subject{
    display: block;
    margin-bottom: 15px;
    font-family: 'Archer-Semibold', 'NanumBarunGothic';
    font-size: 18px;
    color: rgb(207,102,26);
    line-height: 18px;
    padding-top: 20px;
}

.subject_wrap{
    text-align: center;
}