.product_list{
    overflow: hidden;
}

.product_list ul{
    text-align: center;
}

.product_list ul li{
    width: 240px;
    float: left;
}

.product_list ul li a .photo>img{
    width: 230px;
    height: 274px;
}

.product_list ul li .txt_box .name{
    display: block;
}

.product_list ul li .txt_box .product_price{
    display: block;
}